/* Fundo geral do portal */
body {
  background-color: #aaadb9;
  color: #000;
  font-family: 'Inter', sans-serif;
}

/* Títulos */
h1 {
  font-weight: 600;
  color: #000;
}
h4, p {
  color: #000;
}

/* Cards */
.card {
  background-color: #fff;
  border-radius: 15px;
  border: none;
  height: auto;
}
.card-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-radius: 15px;
}
.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Botão Horse padrão */
.btn-horse {
  background-color: #b80000;
  color: #fff;
  border: none;
}
.btn-horse:hover {
  background-color: #8b0000;
}

/* Botão azul do index */
.btn-dark {
  background-color: #090a0a;
  border: none;
}
.btn-dark:hover {
  background-color: #060606;
}

/* Ajustes flex dos cards */
.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .card-text {
  margin-top: 1.5rem;
  flex-grow: 1;
}

/* Navbar */
header {
  background-color: #4a148c !important;
}

/* Abas */
.nav-tabs .nav-link.active {
  background-color: #4a148c !important;
  color: white !important;
}
.nav-tabs .nav-link {
  color: #4a148c;
}

/* Tabelas */
table {
  border-radius: 10px;
  overflow: hidden;
}

/* ESTILO DO GRÁFICO  */

.grafico-container {
  background: rgba(10, 15, 36, 0.75);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.06);
}

/* gráfico responsivo */
.grafico {
  width: 100%;
  height: 420px;
}

/*responsivo aqui*/

@media (max-width: 992px) { /* tablet */
  .grafico { height: 350px; }
}

@media (max-width: 768px) { /* tablet menor */
  .grafico { height: 320px; }
}

@media (max-width: 576px) { /* celular */
  .grafico { height: 280px; }
}

/* legenda */
.grafico-legenda {
  text-align: center;
  margin-top: 10px;
  color: #ccc;
  font-size: 14px;
}

.grafico-legenda .verde {
  color: #44ff44;
}
.grafico-legenda .vermelho {
  color: #ff4444;
}

/* container responsivo interno */
@media (max-width: 992px) {
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}
