/* Fundo geral do portal */
body {
  background-color: #f6f7fb;
  color: #000;
  font-family: 'Inter', sans-serif;
}

/* Títulos */
h1 {
  font-weight: 600;
  color: #000;
}

h4, p {
  color: #000;
}

/* Cards */
.card {
  background-color: #fff;
  border-radius: 15px;
  min-height: 230px;
  border: none;
}

.card-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-radius: 15px;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Botão Horse padrão */
.btn-horse {
  background-color: #b80000;
  color: #fff;
  border: none;
}
.btn-horse:hover {
  background-color: #8b0000;
}

/* Botão azul do index */
.btn-dark {
  background-color: #00b4ff;
  border: none;
}
.btn-dark:hover {
  background-color: #008ecc;
}

/* Cards — espaçamento e flex */
.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .card-text {
  margin-top: 1.5rem;
  flex-grow: 1;
}

/* Navbar */
header {
  background-color: #4a148c !important;
}

/* Abas e tabelas (caso existam em outras páginas) */
.nav-tabs .nav-link.active {
  background-color: #4a148c !important;
  color: white !important;
}
.nav-tabs .nav-link {
  color: #4a148c;
}

/* Tabelas */
table {
  border-radius: 10px;
  overflow: hidden;
}
